@use 'sass:map';
@import '../../../../utils/utilsStyles/rem.scss';
@import '../../../../utils/utilsStyles/colors.scss';

.itemInfo {
    display: flex;
    margin-bottom: rem(30);
    border-bottom: 1px solid map.get($colors, "darkExtra");
    padding-bottom: rem(10);

    .textAction {
        margin-right: rem(96);
    }

    .textActionActive {
        margin-right: rem(80);
    }
}

@import './media.scss';