@use 'sass:map';
@import '../../../../../../utils/utilsStyles/rem.scss';
@import '../../../../../../utils/utilsStyles/em.scss';
@import '../../../../../../utils/utilsStyles/media.scss';

@media (max-width: map.get($breakpoints, 'desktop')) {
    .address {
        padding-bottom: rem(46);
    }
}


@media (max-width: map.get($breakpoints, 'teblet')) {
    .title {
        margin-bottom: rem(20);
    }

    .address {
        padding-bottom: rem(36);
    }
}

@media (max-width: map.get($breakpoints, 'tebletExtra')) {
    .bodyInput {
        flex-direction: column;
    }

    .inputName {
        margin: 0 0 rem(20) 0;
    }

    .btn {
        min-width: 100%;
    }
}