@use 'sass:map';
@import '../../utils/utilsStyles/media.scss';
@import '../../utils/utilsStyles/rem.scss';

@media (max-width: map.get($breakpoints, 'tebletExtra')) {
    .consistOrderBody {
        padding: rem(10) rem(20);
    }

    .btn {
        button {
            width: 100%;
        }
    }

}

@media (max-width: map.get($breakpoints, 'phone')) {
    .consistOrderBody {
        padding: rem(10) rem(16);
    }
}