@use 'sass:map';
@import '../../../../utils/utilsStyles/rem.scss';
@import '../../../../utils/utilsStyles/em.scss';
@import '../../../../utils/utilsStyles/media.scss';

@media (max-width: map.get($breakpoints, 'teblet')) {
    .wrapperInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
    }

    .bodyInfo {
        margin-bottom: rem(30);
    }

    .bodyInfoBonus {
        width: 100%;
        max-width: initial;
        grid-column: 2 span;
    }

    .date {
        padding: rem(10);
    }

    .bonus {
        padding-bottom: rem(40);
    }
}

@media (max-width: map.get($breakpoints, 'tebletExtra')) {
    .wrapperInfo {
        grid-template-columns: 1fr 0.1fr;
    }

    .user {
        margin: 0 rem(40) 0 0;
    }

    .infoBought {
        font-size: rem(12);
    }
}

@media (max-width: map.get($breakpoints, 'phone')) {
    .bonus {
        padding-bottom: rem(20);
    }

    .countBought {
        margin-bottom: rem(10);
    }

    .wrapperInfo {
        margin-bottom: rem(20);
    }

    .item:last-child {
        margin-bottom: rem(20);
    }
    .user{
        margin-right: 0;
    }
}