@use 'sass:map';
@import '../../../../utils/utilsStyles/mainColor.scss';
@import '../../../../utils/utilsStyles/rem.scss';
@import '../../../../utils/utilsStyles/colors.scss';

.checkoutForm{
    margin-right: rem(20);
}

.checkoutWrapper{
    width: 100%;
    font-family: "Montserrat";
}

.title{
    @extend %mainColor;
    margin-bottom: rem(20);
}

.containerInput {
    display: flex;
    margin-bottom: rem(20);

    div {
        width: 100%;
    }

    div:first-child {
        margin-right: 20px;
    }
}

.email {
    margin-bottom: rem(30);
}

.detailOrder {
    @extend %mainColor;
    margin-bottom: rem(20);
}

.detailInfo{
   input::placeholder{
    color: map.get($colors, 'warmDark');
    background: initial;
    -webkit-text-fill-color: initial;
    -webkit-background-clip: initial;
   }
}

@import './media.scss';