@import '../../../../utils/utilsStyles/rem.scss';
@import '../../../../utils/utilsStyles/mainColor.scss';

.extraOffer{
    overflow: hidden;
}

.body{
    display: flex;
    margin: 0 auto;
}

.title{
    margin-bottom: rem(30);
    text-align: center;
    @extend %mainColor;
}

.bodyPagination{
    display: flex;
}

.slide{
    min-width: rem(305);
    max-width: rem(305);
}

.body{
    max-width: rem(955);
}

@import './media.scss';