@use 'sass:map';
@import '../../../utils/utilsStyles/rem.scss';
@import '../../../utils/utilsStyles/em.scss';
@import '../../../utils/utilsStyles/colors.scss';

.wrapper {
    display: flex;
}

.list {
    display: flex;
}

.btn {
    width: 36px;
    height: 36px;
    border: 1px solid map.get($colors, 'vanilla');
    background-color: transparent;
    border-radius: rem(6);
    position: relative;
}

.disabled {
    background-color: map.get($colors, 'jet');
    border: 1px solid map.get($colors, 'jet');
}

.btnPrev.disabled {
    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 12.8px;
        background: url('../../../assets/imgs/global/arrow.svg') no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
    }
}

.btnNext.disabled {
    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 12.8px;
        background: url('../../../assets/imgs/global/arrow.svg') no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-180deg);
        z-index: 20;
    }
}

.btnNext {
    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 12.8px;
        background: url('../../../assets/imgs/global/arrow-color.svg') no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
    }
}

.btnPrev {
    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 12.8px;
        background: url('../../../assets/imgs/global/arrow-color.svg') no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-180deg);
        z-index: 20;
    }
}