@use 'sass:map';
@import '../../utils/utilsStyles/rem.scss';
@import '../../utils/utilsStyles/media.scss';

@media (max-width: map.get($breakpoints, 'teblet')) {
    .bonus {
        padding: rem(132) 0 rem(40) 0;
    }

    .container {
        padding-top: rem(40);
    }
}

@media (max-width: rem(632)) {
    .bonus {
        padding: rem(70) 0 rem(40) 0;
    }
}

@media (max-width: map.get($breakpoints, 'tebletExtra')) {
    .bonus {
        padding: rem(60) 0 rem(40) 0;
    }

    .listInfo {
        margin-bottom: rem(30);
    }
    .listInfo{
        font-size: rem(12);
    }
    .text{
        margin-bottom: rem(30);
        font-size: rem(16);
    }
    .extraInfo{
        font-size: rem(16);
    }
}