@use 'sass:map';
@import '../../utils/utilsStyles/rem.scss';
@import '../../utils/utilsStyles/colors.scss';
@import '../../utils/utilsStyles/mainColor.scss';

.checkout {
    padding: rem(132) 0 rem(50) 0;
    background-color: map.get($colors, 'darkExtra');
    color: map.get($colors, 'vanilla');
}

.container {
    padding-top: rem(50);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.titleOrder {
    @extend %mainColor;
    margin-bottom: rem(30);
}


@import './media.scss';