@import '../../../../utils/utilsStyles/rem.scss';

.controlPanel{
    font-family: 'Montserrat';
}

.greeting{
    margin-bottom: rem(20);
}

.link{
    text-decoration: underline;
}

@import './media.scss';