@use 'sass:map';
@import '../../../../../../utils/utilsStyles/rem.scss';
@import '../../../../../../utils/utilsStyles/colors.scss';

.item {
    padding: rem(20);
    background-color: map.get($colors, 'jet');
    border-radius: 4px;
    margin-bottom: rem(20);

    &:last-child {
        margin-bottom: 0;
    }
}

.bodyDate {
    padding: rem(20) rem(10);
    background-color: map.get($colors, 'dark');
    border-radius: 4px;
    margin-bottom: rem(15);
    display: flex;
    align-items: center;

    >p {
        flex: 1 1 auto;

        span {
            font-weight: 700;
            font-size: rem(14);
        }
    }

    >span {
        margin-right: rem(10);
    }
}

.btnCancel {
    padding: rem(6) rem(10);
    background-color: map.get($colors, 'jet');
    color: map.get($colors, 'vanilla');
    border-radius: 4px;
}

.infoItem {
    margin-bottom: rem(15);
    display: flex;
    align-items: center;

    p {
        margin-right: rem(10);
    }

}

.statusDelivery {
    padding: rem(6) rem(10);
    border-radius: 4px;
}

.select {
    width: 100%;

    >div {
        font-size: rem(16);
        background-color: map.get($colors, 'darkCoffe');
        padding: rem(10);
        box-shadow: 0px 2px 10px 0px rgba(184, 164, 142, 0.4);
        border: 1px solid map.get($colors, 'tan');
        border-radius: 4px;
        margin-bottom: rem(10);
        position: relative;

        >div {
            &::after {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                background: url('../../../../../../assets/imgs/global/arrow-accordion.svg') no-repeat;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }
    }

    >ul {
        position: static;

        li {
            background: initial;
            padding: 0;

            p {
                background: map.get($colors, 'vanilla');
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &:hover {
                background: initial;

                p {
                    background: map.get($colors, 'vanilla');
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}

.btnPay {
    padding: rem(12) rem(20);
    margin-bottom: rem(15);
}

.bodyGoods {
    font-size: rem(16);
    margin-bottom: rem(10);

    &:last-child {
        margin-bottom: 0;
    }
}

.itemName {
    margin-right: rem(5);
}

.fromOrderDate{
    margin-right: rem(10);
}

.price{
    margin-right: rem(10);
}

.bodyInfo{
    display: flex;
    align-items: center;
}

@import './media.scss';