@import '../../utils/utilsStyles/rem.scss';
@import '../../utils/utilsStyles/mainColor.scss';

.accordion {
    position: relative;
    cursor: pointer;
    z-index: 5;
}

.accordionBody {
    position: absolute;
    transform: translate(-12.5%, 10%);
    width: 100%;
}

.item {
    p {
        @extend %mainColor;
        text-transform: lowercase;
    }

    background-color: rgba(43, 40, 37, 1);
    padding: rem(12) rem(16);
    cursor: pointer;

    &:hover {
        background: linear-gradient(95.25deg, #C09E6C -5.68%, #FFEBCC 41.36%, #BF936B 104.69%);

        p {
            background: #000;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
        }
    }
}



@import './media.scss';