@use "sass:map";
@import "../../../../utils/utilsStyles/rem.scss";
@import "../../../../utils/utilsStyles/mainColor.scss";
@import "../../../../utils/utilsStyles/em.scss";
@import "../../../../utils/utilsStyles/colors.scss";

.category {
  background-color: map.get($colors, "darkCoffe");
  padding-top: rem(50);
  padding-bottom: rem(50);
}

.title {
  @extend %mainColor;
  margin-bottom: rem(30);
}

.filter {
  display: flex;
  color: #fff;
  align-items: flex-start;
}

.select {
  background-color: map.get($colors, "jet");
  max-width: rem(305);
  width: 100%;
  margin-right: rem(20);

  &:last-child {
    margin-right: 0;

    ul {
      left: 0%;
      top: 100%;
    }
  }

  p {
    @extend %mainColor;
  }

  background-color: transparent;

  >div {
    border: 1px solid map.get($colors, "tan");
    padding: rem(13.5) rem(20);
    width: 100%;
    max-width: rem(285);
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: map.get($colors, "jet");
    min-height: initial !important;

  }

  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectItemFilter>div {
  font-size: rem(18);
  line-height: em(22, 18);

  img {
    order: 2;
  }

  div {
    order: 1;
    flex: 1 1 auto;
  }
}

.selectItemFilter {
  >div {
    &::after {
      content: "";
      display: block;
      width: 17px;
      height: 12px;
      background: url("../../../../assets/imgs/Category/arrow.svg") no-repeat;
      order: 2;
      margin-right: rem(17);
    }
  }
}

.selectFilter {
  >div {
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background: url("../../../../assets/imgs/Category/icon-category.svg");
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }

  ul {
    position: relative;
    width: 100%;
    top: 0;

    li {
      background-color: transparent;
      padding: rem(10);

      &:hover {
        background: transparent;

        p {
          background: map.get($colors, "gradientMain");
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.selectPopular {
  align-self: flex-start;
  margin: 0 0 rem(20) 0;

  >div {
    margin-bottom: 0;
    max-width: initial;

    &::after {
      content: "";
      width: 40px;
      height: 40px;
      background: url("../../../../assets/imgs/Category/arrow.svg") center no-repeat;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  ul {
    position: absolute;
    top: 100%;
    z-index: 10;

    li {
      background-color: map.get($colors, "darkCoffe");
      padding: rem(12) rem(30);
    }

    &:hover {
      background: map.get($colors, "gradientMain");

      p {
        background-color: map.get($colors, "jet");
      }
    }
  }
}

.btnReset {
  padding: rem(15) rem(20);
  border-radius: 4px;
  background-color: map.get($colors, "jet");
  width: 100%;
  text-align: left;
  position: relative;

  span {
    @extend %mainColor;
    font-size: rem(18);
    line-height: em(22, 18);
  }

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: url("../../../../assets/imgs/global/close.svg") no-repeat;
    position: absolute;
    top: 50%;
    right: rem(20);
    transform: translateY(-50%);
  }
}

.bodyFilter {
  display: grid;
  grid-template-columns: rem(305) 1fr;
  column-gap: rem(20);
}

.bodyGoods {
  grid-column: span 2;
  width: 100%;
}

.filter {
  flex-direction: column;
}

.wrapperFilter {
  min-width: 100%;
}

@import './media.scss';