@use 'sass:map';
@import '../../../../utils/utilsStyles/rem.scss';
@import '../../../../utils/utilsStyles/em.scss';
@import '../../../../utils/utilsStyles/media.scss';

@media (max-width: map.get($breakpoints, 'teblet')) {
    .menuAccount {
        flex-direction: column;
    }

    .menu {
        flex: 1 1 100%;
        max-width: initial;
        margin: 0 0 rem(40) 0;
    }
}

@media (max-width: map.get($breakpoints, 'teblet')) {
    .item {
        p{
            font-size: rem(16);
        }
    }
}