@import '../../../../utils/utilsStyles/rem.scss';

.category-select.select-active {
     padding: rem(10) 0;
     background-color: rgba(33, 30, 28, 1);
     box-shadow: 0px 9px 15px 0px rgba(116, 107, 90, 0.41);

     >ul {
          padding-top: rem(20);
     }
}

.style_selectPopular__tR56f.select-active {
     >div::after {
          content: "";
          transform: translateY(-50%) rotate(0deg);
     }
}

.selectMenuControl.select-active {
     >div {
          &::after {
               content: '';
               transform: rotate(0deg);
          }
     }
}

.selectAllThing.select-active{
    > div::after {
          content: "";
          transform: rotate(0deg);
      }
}

@import './media.scss';