@use 'sass:map';
@import '../../utils/utilsStyles/media.scss';
@import '../../utils/utilsStyles/rem.scss';

@media (max-width: map.get($breakpoints, 'teblet')) {
    .account{
        padding: rem(182) 0 0 0;
    }
    .container{
        flex-direction: column;
    }
}

@media (max-width: map.get($breakpoints, 'tebletExtra')){
    .account{
        padding: rem(110) 0 0 0;
    }
    .page{
        font-size: rem(12);
    }
}