@use 'sass:map';
@import '../../../utils/utilsStyles/rem.scss';
@import '../../../utils/utilsStyles/mainColor.scss';
@import '../../../utils/utilsStyles/colors.scss';

.textVolume {
    margin-bottom: rem(10);
    font-family: 'Open Sans';
}

.listVolume {
    display: flex;
}

.valume {
    margin-bottom: rem(20);
}

.textVolume {
    color: map.get($colors, 'vanilla');
}


@import './media.scss';