//Montserrat

@font-face {
    font-family: "Montserrat";
    display: swap;
    src: url("../assets/fonts/./Montserrat/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    display: swap;
    src: url("../assets/fonts/./Montserrat/Montserrat-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    display: swap;
    src: url("../assets/fonts/./Montserrat/Montserrat-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    display: swap;
    src: url("../assets/fonts/./Montserrat/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

//Open sance

@font-face {
    font-family: "Open Sans";
    display: swap;
    src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    display: swap;
    src: url("../assets/fonts/Open_Sans/OpenSans-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Open Sans";
    display: swap;
    src: url("../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    display: swap;
    src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

