@import "./Null.scss";
@import "../utils/utilsStyles/rem.scss";
@import "../utils/utilsStyles/em.scss";
@import "../utils/utilsStyles/mainColor.scss";
@import './fonts.scss';

body {
    font-family: 'Open Sans';
}

.container {
    max-width: rem(1320);
    padding: 0 rem(30);
    margin: 0 auto;
    width: 100%;
}

.titleSmall {
    font-family: 'Montserrat';
    font-size: rem(24);
    font-weight: 400;
    line-height: em(29, 26.49);
    text-align: left;
}

.title {
    font-family: 'Montserrat';
    font-size: rem(30);
    font-weight: 400;
    line-height: em(36.57, 30);
    @extend %mainColor;
}


.bodyInput {
    position: relative;

    input {
        padding: rem(14) rem(20);
        flex: 1 1 auto;
        background-color: rgba(18, 17, 15, 1);
        border: 1px solid rgba(81, 73, 65, 1);
        color: #fff;
        width: 100%;
    }
}

.iconSeach {
    position: absolute;
    top: 25%;
    right: 12px;
}

.text {
    font-family: 'Open Sans';
    font-size: rem(16);
    font-weight: 400;
    line-height: em(22.4, 16);
}

.textInfo {
    font-size: rem(18);
    font-weight: 400;
    line-height: em(25.2, 18);
}

.textSmall {
    font-family: 'Open Sans';
    font-size: rem(14);
    font-weight: 400;
    line-height: em(19.6, 14);
}

@import "./media.scss";